@model DynamicsOData.Models.CustomerGroupViewModel.IndexCustomerGroupViewModel

@{
    ViewData["Title"] = "Customer Groups";
}

<h2>@ViewData["Title"]</h2>

@(Html
    .Grid(Model.Groups)
    .Build(columns =>
    {
        columns.Add(model => model.DataAreaId).Titled("DataAreaId");
        columns.Add(model => model.CustomerGroupId).Titled("CustomerGroupId");
        columns.Add(model => model.Description).Titled("Description");

        columns.Add(model => $"<a href='/CustomerGroup/Index?CustomerGroupId={model.CustomerGroupId}'>Select</a>").Titled("").Encoded(false);
        columns.Add(model => $"<a href='/Customer/Index?CustomerGroupId={model.CustomerGroupId}'>Customers</a>").Titled("").Encoded(false);
    })
    .RowCss(model => model.CustomerGroupId == Model.CustomerGroupId ? "info" : "")
    .Filterable()
    .Sortable()
    .Pageable()
)

@if (!string.IsNullOrEmpty(Model.CustomerGroupId))
{
    var group = Model.Groups.FirstOrDefault(x => x.CustomerGroupId == Model.CustomerGroupId);

    <h3>Customer Group details for '@Model.CustomerGroupId'</h3>
    <div>
        <a href="/CustomerGroup/Create">Create</a> |
        <a href="#" onclick="requestLock('@(Model.CustomerGroupId)')">Edit</a> |
        <a href="/CustomerGroup/Delete/@(Model.CustomerGroupId)">Delete</a>
    </div>
    <br />
    <form action="/CustomerGroup/Edit" method="post">
        <input type="hidden" id="CustomerGroupId" name="CustomerGroupId" value="@(Model.CustomerGroupId)" />
        <input type="hidden" id="DataAreaId" name="DataAreaId" value="@(Model.Groups.First(x => x.CustomerGroupId == Model.CustomerGroupId).DataAreaId)" />
        <div class="form-group">
            <label for="Description">Description</label>
            <input type="text" class="form-control" id="Description" name="Description" placeholder="Description" value="@group.Description" disabled>
        </div>
        <div class="form-group">
            <label for="IsSalesTaxIncludedInPrice">IsSalesTaxIncludedInPrice</label>
            <input type="text" class="form-control" id="IsSalesTaxIncludedInPrice" name="IsSalesTaxIncludedInPrice" placeholder="IsSalesTaxIncludedInPrice" value="@group.IsSalesTaxIncludedInPrice" disabled>
        </div>
        <div class="form-group">
            <label for="IsSalesTaxIncludedInPrice">IsSalesTaxIncludedInPrice</label>
            <input type="text" class="form-control" id="IsSalesTaxIncludedInPrice" name="IsSalesTaxIncludedInPrice" placeholder="IsSalesTaxIncludedInPrice" value="@group.IsSalesTaxIncludedInPrice" disabled>
        </div>
        <div class="form-group">
            <label for="PaymentTermId">PaymentTermId</label>
            <input type="text" class="form-control" id="PaymentTermId" name="PaymentTermId" placeholder="PaymentTermId" value="@group.PaymentTermId" disabled>
        </div>
        <div class="form-group">
            <label for="TaxGroupId">TaxGroupId</label>
            <input type="text" class="form-control" id="TaxGroupId" name="TaxGroupId" placeholder="TaxGroupId" value="@group.TaxGroupId" disabled>
        </div>
        <button type="submit" class="btn btn-default" disabled>Submit</button>
        <button type="button" class="btn btn-danger" onclick="releaseLock('@(Model.CustomerGroupId)')" disabled>Cancel</button>
    </form>
}

@section Scripts {
    <script src="~/js/mvc-grid.js"></script>
    <script>
        $('.mvc-grid').mvcgrid();

        function requestLock(id) {
            $.post("/CustomerGroup/RequestLock/@(Model.CustomerGroupId)", function (data) {
                if (data == false) {
                    alert('This entity is already locked.');
                }
                else {
                    $("input[type=text]").prop('disabled', false);
                    $("button").prop('disabled', false);
                }
            });
        }

        function releaseLock(id) {
            $.post("/CustomerGroup/ReleaseLock/@(Model.CustomerGroupId)", function (data) {
                if (data == false) {
                    alert('This entity is locked by other user.');
                }
                else {
                    location.reload();
                }
            });
        }
    </script>
}