@model DynamicsOData.Models.CustomerViewModel.IndexCustomerViewModel

@{
    string filteredInformation = string.IsNullOrEmpty(Model.CustomerGroupId) ? "" : $" for customer group '{Model.CustomerGroupId}'";
    ViewData["Title"] = "Customers" + filteredInformation;
}

<h2>@ViewData["Title"]</h2>

@if (!string.IsNullOrEmpty(Model.CustomerGroupId))
{
    <a href="/CustomerGroup/Index?CustomerGroupId=@(Model.CustomerGroupId)">Back</a>
}

@(Html
    .Grid(Model.Customers)
    .Build(columns =>
    {
        columns.Add(model => model.DataAreaId).Titled("DataAreaId");
        columns.Add(model => model.CustomerGroupId).Titled("CustomerGroupId");
        columns.Add(model => model.Name).Titled("Name");

        columns.Add(model => $"<a href='/Customer/Index?CustomerGroupId={model.CustomerGroupId}&customerAccount={model.CustomerAccount}'>Select</a>").Titled("").Encoded(false);
    })
    .RowCss(model => model.CustomerAccount == Model.CustomerAccount ? "info" : "")
    .Filterable()
    .Sortable()
    .Pageable()
)

@if (!string.IsNullOrEmpty(Model.CustomerAccount))
{
    var customer = Model.Customers.FirstOrDefault(x => x.CustomerAccount == Model.CustomerAccount);

    <h3>Customer details for '@Model.CustomerAccount'</h3>
    <div>
        <a href="/Customer/Create">Create</a> |
        <a href="#" onclick="requestLock('@(Model.CustomerAccount)')">Edit</a> |
        <a href="/Customer/Delete/@(Model.CustomerAccount)">Delete</a>
    </div>
    <br />
    <form action="/Customer/Edit" method="post">
        <input type="hidden" id="CustomerAccount" name="CustomerAccount" value="@(Model.CustomerAccount)" />
        <input type="hidden" id="DataAreaId" name="DataAreaId" value="@(Model.Customers.First(x => x.CustomerAccount == Model.CustomerAccount).DataAreaId)" />
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" value="@customer.Name" disabled>
        </div>
        <div class="form-group">
            <label for="CustomerGroupId">CustomerGroupId</label>
            <input type="text" class="form-control" id="CustomerGroupId" name="CustomerGroupId" placeholder="CustomerGroupId" value="@customer.CustomerGroupId" disabled>
        </div>
        <div class="form-group">
            <label for="BrazilianIE">BrazilianIE</label>
            <input type="text" class="form-control" id="BrazilianIE" name="BrazilianIE" placeholder="BrazilianIE" value="@customer.BrazilianIE" disabled>
        </div>
        <div class="form-group">
            <label for="BrazilianCNPJOrCPF">BrazilianCNPJOrCPF</label>
            <input type="text" class="form-control" id="BrazilianCNPJOrCPF" name="BrazilianCNPJOrCPF" placeholder="BrazilianCNPJOrCPF" value="@customer.BrazilianCNPJOrCPF" disabled>
        </div>
        <div class="form-group">
            <label for="FullPrimaryAddress">FullPrimaryAddress</label>
            <input type="text" class="form-control" id="FullPrimaryAddress" name="FullPrimaryAddress" placeholder="FullPrimaryAddress" value="@customer.FullPrimaryAddress" disabled>
        </div>
        <button type="submit" class="btn btn-default" disabled>Submit</button>
        <button type="button" class="btn btn-danger" onclick="releaseLock('@(Model.CustomerAccount)')" disabled>Cancel</button>
    </form>
}

@section Scripts {
    <script src="~/js/mvc-grid.js"></script>
    <script>
        $('.mvc-grid').mvcgrid();

        function requestLock(id) {
            $.post("/Customer/RequestLock/@(Model.CustomerAccount)", function (data) {
                if (data == false) {
                    alert('This entity is already locked.');
                }
                else {
                    $("input[type=text]").prop('disabled', false);
                    $("button").prop('disabled', false);
                }
            });
        }

        function releaseLock(id) {
            $.post("/Customer/ReleaseLock/@(Model.CustomerAccount)", function (data) {
                if (data == false) {
                    alert('This entity is locked by other user.');
                }
                else {
                    location.reload();
                }
            });
        }
</script>
}